span {
  margin: 0px 0px 10px 20px;
  font-weight: bold;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif !important;
  font-size: 20px;
  &:after {
    content: "";
    /* por padrão criam in-line e eu quero block */
    display: block; 
    width: 98%;
    height: 1px;
    background: #000;
    /* sentido horario: cima direita baixo esquerda  */
    margin: 8px;
  }
}

.grid-list-container {
  padding: 0;
}

.livro-detalhes a {
  text-decoration: none;
  &:hover {
    transform: scale(1.05);
  }
}

.livro-imagem img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

.livro-imagem p {
  color: #000;
  font-size: 14px;
  margin: 0;
}

.livro-imagem .livro-preco {
  font-size: 19px;
}

.livro-imagem .livro-nome {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto', sans-serif !important;
}

.livro-imagem .livro-loja {
  padding-bottom: 5px;
  font-family: "Lato", sans-serif !important;
}

.grid-list-item {
  padding: 4px;
}
